{{ 'all-products.css' | asset_url | stylesheet_tag }}



{% assign remainingProducts = '' %}
{% for product in collections.all.products offset: section.settings.products_per_row %}
	{% assign remainingProducts = remainingProducts | append: product.handle %}

	{% unless forloop.last %}
		{% assign remainingProducts = remainingProducts | append: ',' %}
	{% endunless %}
{% endfor %}


<div class="page-width">	
	<all-products data-remaining-products="{{ remainingProducts }}" data-products-per-row="{{ section.settings.products_per_row }}">
		<div class="grid" style="--items-per-row: {{ section.settings.products_per_row }}">
			{% for product in collections.all.products limit: section.settings.products_per_row %}
				{% render 'card-product', cart_product: product %}
			{% endfor %}

		</div>
		<button class="button">Load More</button>
	</all-products>
</div>
{% comment %} <p>{{ section.settings.products_per_row }}</p> {% endcomment %}

<script src="{{ 'all-products.js' | asset_url }}" async></script>

{% schema %}
	{
		"name": "All Products",
		"settings": [
			{
				"type": "number",
				"id": "products_per_row",
				"label": "Product Per Row"
			}
		],
		"presets": [
			{
				"name": "All Products"
			}
		]
	}
{% endschema %}