<div class="page-width">
	<h1>{{ metaobject.name }}</h1>
	{{  metaobject.image | image_url: width: 500 | image_tag}}

	<h2>Bio</h2>
	<div>
		{{  metaobject.bio | metafield_tag }}
	</div>

	<h2>Products by there craftspeson</h2>
	<p>{{ section.settings.section_message }}</p>

	<div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 24px">
	{% for product in collections.all.products %}
		{% if product.metafields.custom.craftsperson.value.system.handle == metaobject.system.handle %}
			<a href="{{ product.url }}">
				{{ product.featured_image | image_url: width: 350 |image_tag }}
				<p>{{ product.title }}</p>
			</a>
		{% endif %}
	{% endfor %}
	</div>
</div>

{% schema %}
	{
		"name": "Metaobject Secion",
		"settings": [
			{
				"type": "text",
				"label": "Section Message",
				"id": "section_message"
			}
		],
		"presets": [
			{
				"name": "Metaobject Section"
			}
		]
	}
{% endschema %}
